.showmenu{
    display: none;
    
  }
  @media (max-width: 767px){
    .menu {
      /*隱藏選單開始*/
      max-height: 0px;
      overflow: hidden;
      /*隱藏選單結束*/
      transition: max-height 2.5s;
      margin-top: 1px;
      /*絕對定位疊在網頁上*/
      position: absolute;
      z-index: 100;
      /*header 80px+1px boder 線條*/
      top: 50px;
      left: 0;
      right: 0;
      background: #fff;
    }
    .menu li{
        float: none;
        width: 100%;
      border-bottom: 1px dashed #69CA62;
    }
    .menu li a{
      transition: all 0.3s;
      text-align: center;
    }
    // .menu li:hover{
    //   background: #69CA62;
    //   color: #fff;
    // }
    .showmenu{
      display: block;
      margin-left: auto;
     
    }
    /*jQ點擊後動態在 body 加上 class */
    .menu-show .menu{
      max-height: 2000px;
    }
  }